doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header
      nav 
        if user
          a.nav(href="/home") Home 
          a.nav(href="/home/become-member") Member
          a.nav(href="/home/become-admin") Admin
          a.nav(href="/home/create_message") Create message
          a.nav(href="/home/log-out") Log Out
        else
          a.nav(href="/home") Home 
          a.nav(href="/home/sign-up") Sign Up
          a.nav(href="/home/log-in") Log In

    block content
