doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header
      nav 
        if user
            a.nav(href="/home") Home 
            a.nav-button(href="/home/become-member") Member
            a.nav-button(href="/home/become-admin") Admin
            a.nav(href="/home/create_message") Create message
            a.nav-logout(href="/home/log-out") Log Out
        else 
            a.nav(href="/home") Home 
            a.nav-button(href="/home/sign-up") Sign Up
            a.nav-button(href="/home/log-in") Log In

    block content
