doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    header
      nav 
        a.nav(href="/home") Home 
        a.nav(href="/home/sign-up") Sign Up
        a.nav(href="/home/log-in") Log In

    block content
